// --------------------------------------------------
// Z-index
// --------------------------------------------------

$zindex: (
  below: -1,
  default: 1,
  above: 2,
  atop: 3,
  menu: 10,
  menu_burger: 11,
);
