:root {
  --neutral-white: #fff8f8;
  --neutral-n0: #fafafa;
  --neutral-n1: #f0f0f0;
  --neutral-n2: #c7c7c7;
  --neutral-n3: #858585;
  --neutral-n4: #454545;
  --neutral-black: #292929;

  --primary-base: #ff6a71;
  --primary-lighter: #7b87ee;
  --primary-ultralight: #f1eeff;

  --secondary-base: #00ab4f;
  --secondary-lighter: #7bee95;
}
